<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-lg-12 text-center">
        <div id="carousel-example-generic" class="carousel slide">
          <ol class="carousel-indicators hidden-xs">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
          </ol>

          <div class="carousel-inner">
            <div class="item active">
              <img src="<%= image_path('slide_1.png') %>" class="img-responsive img-full">
            </div>
            <div class="item">
              <img src="<%= image_path('slide_2.png') %>" class="img-responsive img-full">
            </div>
            <div class="item">
              <img src="<%= image_path('slide_3.png') %>" class="img-responsive img-full">
            </div>
            <div class="item">
              <img src="<%= image_path('slide_4.png') %>" class="img-responsive img-full">
            </div>
            <div class="item">
              <img src="<%= image_path('slide_5.png') %>" class="img-responsive img-full">
            </div>
          </div>

          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="icon-prev"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="icon-next"></span>
          </a>
        </div>

        <h2 class="brand-before">
          <small>Witamy na stronie</small>
        </h2>

        <h1 class="brand-name">Pasja Smaku</h1>
        <hr class="tagline-divider">
        <h2>
          <small>
            Catering
          </small>
        </h2>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div class="row">
    <div class="box">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <p class="text-center">Nie masz czasu gotować? Nie masz pomysłu na smaczne i zdrowe posiłki? Chcesz szybko
          i bezpiecznie schudnąć i uniknąć przy tym efektu jojo? Catering dietetyczny to idealne rozwiązanie dla
          Ciebie i Twoich bliskich.</p>

        <p class="text-center">Pozwól nam zadbać o swoją linie bez wychodzenia z domu.</p>

        <p class="text-center">Zamów zestaw próbny i przekonaj się już dziś!</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
