<nav class="navbar navbar-default" role="navigation">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
      <%= link_to "Pasja Smaku", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "O nas", root_path %>
        </li>
        <li>
          <%= link_to "Oferta", offers_path %>
        </li>
        <li>
          <%= link_to "Diety", diets_path %>
        </li>
        <li>
          <%= link_to "Cennik", price_lists_path %>
        </li>
        <li>
          <%= link_to "Kontakt", contacts_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>
